<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/test.css">
    <title>Movie edit page</title>
</head>

<body>
    <h1>Edit Your Movies Here</h1>
    <div class="edit-outline">
        <form action="/movies/<%=movie.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= movie.name%>" />
            <br>
            Genre: <select name="genre" value="<%= movie.genre%>" id="genre-select">
                <option value=""> </option>
                <option value="Action">Action</option>
                <option value="Animaton">Animaton</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Thriller">Thriller</option>
                <option value="Western">Western</option>
            </select>
            <br>
            Streaming Service: <select type="text" name="streaming" value="<%= movie.streaming%>" id="stream-select">
                <option value=""> </option>
                <option value="Netflix">Netflix</option>
                <option value="Amazon Prime">Amazon Prime</option>
                <option value="Hulu">Hulu</option>
                <option value="Disney+">Disney+</option>
                <option value="HBO Max">HBO Max</option>
                <option value="Crunchyroll">Crunchyroll</option>
            </select>
            <br>
            Score: <input type="range" id="score" value="<%= movie.score%>" name="score" min="0" max="10">
            <br>
            Watched: <input type="checkbox" name="hasSeen" <% if(movie.hasSeen===true){ %>
            checked
            <% } %>
                />
                <br>
                <input type="submit" value="Update Movie">
    </div>
    </form>
</body>

</html>